* {
	padding: 0;
	margin: 0;
}
 
body {
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	background: #ececec;
	/*color: #878787;*/
	padding: 0px;
	margin: 0px;
}
 
.clear {
	clear: both;
	font-size: 1px;
	height: 0;
	visibility: hidden;
	line-height: 0;
}
 
.top_box {
	background: #17a2b8;
	/*background: #fafafa;*/
	height: 123px;
}
 
.in_box {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	background: #fff;
	margin-top: -50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
 
.con_1 {
	background: #dcefff;
	height: 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px;
}
 
.con_list {
	padding: 30px 20px 40px 20px;
}
 
.con_list ul li {
	float: left;
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: dotted 1px #cecece;
	height: 58px;
	line-height: 58px;
	font-size: 16px;
	color: #3f3f3f;
	overflow: hidden;
}
 
.spanyellpw {
	color: #ff6600;
}
 
.spansize-24 {
	font-size: 24px;
	font-weight: bold;
}

.fukuan{
	right: 20px;
	left: 0px;
	margin: auto;
	width: 80px;
}